@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #F8F8F8;
}

.header {
  background: #FFFFFF;
  opacity: 1;
  height: 117px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
  box-shadow: 0px 3px 6px #00000014;

}

.header_container {
  height: 100%;
  max-width: 1200px;
  min-width: 700px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header_img_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header_menu_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  align-self: start;
}

.header_ul_container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.header_ul_container li {
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 20px;
  position: relative;
}

.header_ul_container li a {
  display: flex;
  text-align: center;
  text-decoration: none;
  text-align: left;
  font: normal normal bold 22px/30px Nunito Sans;
  letter-spacing: 0px;
  color: #063347;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 10px;
}

.header_ul_container li img,
.header_ul_container li svg {
  margin-right: 10px;
}

.header_img_dropdow {
  margin-right: 0px;
  margin-left: 10px;
}


.header_ul_container li a:hover:not(.active) {
  background-color: #F8F8F8;
}

.header_ul_container li .active {
  background-color: #4CAF50;
}

.page_body {
  width: 760px;
}

.page_body_h2 {
  text-align: left;
  font: normal normal bold 28px/38px Poppins;
  letter-spacing: 0px;
  color: #063347;
  margin-top: 74px;
  font-weight: bold;
  margin-bottom: 18px;
}

.page_body_search_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.page_body_search_results {
  text-align: left;
  font: normal normal bold 18px/65px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
}

.page_body_search_how {
  font: normal normal normal 18px/39px Nunito Sans;
  margin-left: 10px;
  background-image: url('/assets/line.png');
  background-repeat: no-repeat;
  background-position: bottom;
  cursor: pointer;
}

.page_body_search_box {
  width: 217px;
  height: 52px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font: normal normal normal 18px/54px Nunito Sans;
  letter-spacing: 0px;
  color: #5F5F5F;
  opacity: 1;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  border: 1px solid #A7A7A7;
}

.page_body_search_box:focus {
  border: 1px solid #5F5F5F;
}

.paginator {
  margin-bottom: 30px;
}

.paginator label {
  font-family: Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  margin: 0 10px;
  cursor: pointer;
}
.active {
  font-weight: bold;
}
.dropdown:hover .header_ul_dropdow {
  display: block;
}

.header_ul_dropdow {
  display: none;
  position: absolute;
  left: -20px;
  top: 80px;
  width: 150px;
  box-shadow: 0px 3px 6px #00000014;
  background-color: #FFFFFF;
}